<!-- Page : Detail View -->
<div class="page-detail-view">

  <!-- 현재 상태 -->
  <div class="section-status">
    <!--
      [D] 상태 정의
      양호 : type-a
      보통 : type-b
      주의 : type-c
      위험 : type-d
      심각 : type-e
    -->
    <div class="status-area" [ngClass]="riskType ? 'type-'+ riskType : 'type-a'">
      <ng-container *ngIf="riskDegreeInfo">
        <span class="txt-status">{{riskLevelMap.get(riskType)}}</span>
        <strong class="txt-data">{{ bom.Math.floor(riskDegreeInfo.contactDensityPercentile) }}</strong>
        <span class="txt-date">{{currentTime | date:'MM월 dd일'}} {{riskDegreeInfo.hh + ':00'}} 현재</span>
      </ng-container>
    </div>
  </div>
  <!-- //현재 상태 -->

  <!-- [D] 화면 로딩 완료되면 is-complete 클래스 추가 -->
  <div class="detail-info" [class.is-complete]="isComplete">
    <!-- 상세화면 로더 -->
    <div class="section-loader">
      <img src="assets/images/detail-skeleton.gif">
    </div>
    <!-- //상세화면 로더 -->

    <!-- 위험도 단계별 메세지 -->
    <div class="section-message">
      <!-- 위험도 단계 : 심각 -->
      <div class="message-area" [style.display]="riskType=='e' ? 'block' : 'none'">
        <strong class="txt-title">코로나19 위험도가 매우 높습니다.</strong>

        <ul class="list-risk">
          <li>
            <div class="icon-status type-f"></div>
            <div class="txt-desc">
              위험도가 낮아질 때까지는 방문을 피하세요.
            </div>
          </li>
          <li>
            <div class="icon-status type-h"></div>
            <div class="txt-desc">
              지금 이 곳에 계시다면 다른 곳으로 이동하시기 바랍니다.
            </div>
          </li>
          <li>
            <div class="icon-status type-e"></div>
            <div class="txt-desc">
              집에서는 외출을 삼가하고, 손님들의 방문을 피하세요.
            </div>
          </li>
          <li>
            <div class="icon-status type-g"></div>
            <div class="txt-desc">
              코로나19 의심 증상 시 가까운 보건소에서 선별진료를 받으시기 바랍니다.
            </div>
          </li>
        </ul>
      </div>
      <!-- //위험도 단계 : 심각 -->

      <!-- 위험도 단계 : 위험 -->
      <div class="message-area" [style.display]="riskType=='d' ? 'block' : 'none'">
        <strong class="txt-title">코로나19 위험이 높은 장소입니다.</strong>

        <ul class="list-risk">
          <li>
            <div class="icon-status type-f"></div>
            <div class="txt-desc">
              이 곳을 방문해야 한다면, 사람이 많은 곳은 최대한 피하세요.
            </div>
          </li>
          <li>
            <div class="icon-status type-a"></div>
            <div class="txt-desc">
              마스크를 상시 착용하고, 수시로 손소독을 해주세요.
            </div>
          </li>
          <li>
            <div class="icon-status type-e"></div>
            <div class="txt-desc">
              집에서는 외출을 삼가하고 손님들의 방문은 최소화 해주세요.
            </div>
          </li>
        </ul>
      </div>
      <!-- //위험도 단계 : 위험 -->

      <!-- 위험도 단계 : 주의 -->
      <div class="message-area" [style.display]="riskType=='c' ? 'block' : 'none'">
        <strong class="txt-title">코로나19 위험에 주의가 필요합니다.</strong>

        <ul class="list-risk">
          <li>
            <div class="icon-status type-d"></div>
            <div class="txt-desc">
              일상적인 활동이 가능한 수준입니다.
            </div>
          </li>
          <li>
            <div class="icon-status type-e"></div>
            <div class="txt-desc">
              불필요한 외출이나 모임은 자제하시는 것이 좋습니다.
            </div>
          </li>
          <li>
            <div class="icon-status type-a"></div>
            <div class="txt-desc">
              사회적 거리두기와 생활 방역을 철저히 지켜주세요.
            </div>
          </li>
        </ul>
      </div>
      <!-- //위험도 단계 : 주의 -->

      <!-- 위험도 단계 : 보통 -->
      <div class="message-area" [style.display]="riskType=='b' ? 'block' : 'none'">
        <strong class="txt-title">코로나19 위험도가 보통입니다.</strong>

        <ul class="list-risk">
          <li>
            <div class="icon-status type-c"></div>
            <div class="txt-desc">
              일상 생활과 사회 활동에 큰 문제가 없습니다.
            </div>
          </li>
          <li>
            <div class="icon-status type-a"></div>
            <div class="txt-desc">
              사전 예방을 위해 거리두기와 방역 수칙은 항상 지켜주세요.
            </div>
          </li>
        </ul>
      </div>
      <!-- //위험도 단계 : 보통 -->

      <!-- 위험도 단계 : 양호 -->
      <div class="message-area" [style.display]="riskType=='a' ? 'block' : 'none'">
        <strong class="txt-title">코로나19 위험도가 양호한 편입니다.</strong>

        <ul class="list-risk">
          <li>
            <div class="icon-status type-b"></div>
            <div class="txt-desc">
              일상 생활이 가능한 안전한 장소입니다.
            </div>
          </li>
          <li>
            <div class="icon-status type-a"></div>
            <div class="txt-desc">
              마스크 착용과 손소독을 잘 해주세요.
            </div>
          </li>
        </ul>
      </div>
      <!-- //위험도 단계 : 양호 -->
    </div>
    <!-- //위험도 단계별 메세지 -->

    <!-- 언제 얼마나 위험할까 -->
    <div class="section-info">

      <!-- 언제가 위험할까 -->
      <div class="when-area">
        <div class="title-block">
          <strong class="txt-title">언제가 위험할까?</strong>
          <div class="set-mode">
            <!-- [D] 선택 된 버튼 : aria-selected=true -->
            <button type="button" class="btn-mode" [attr.aria-selected]="barChartMode === BarChartMode.DAY" (click)="changeBarChartMode(BarChartMode.DAY)">일간</button>
            <button type="button" class="btn-mode" [attr.aria-selected]="barChartMode === BarChartMode.WEEK" (click)="changeBarChartMode(BarChartMode.WEEK)">주간</button>
          </div>
        </div>

        <!-- 일간 -->
        <div class="view-block" *ngIf="barChartMode === BarChartMode.DAY">
          <div class="set-date">
            <button type="button" class="btn-date-prev" *ngIf="check7Day('before')" (click)="moveDayIdx('before')"></button>
            <span class="txt-date">{{ selectedDate.toLocaleDateString() | date: 'M월 dd일'}} {{dayLabel[selectedDate.getDay() !== 0 ? selectedDate.getDay() - 1 : 6]}}요일</span>
            <button type="button" class="btn-date-next" *ngIf="check7Day('after')" (click)="moveDayIdx('after')"></button>
          </div>

          <div class="box-graph" id="barChart" style="width: 100%;"></div>
        </div>
        <!-- //일간 -->

        <!-- 주간 -->
        <div class="view-block" *ngIf="barChartMode === BarChartMode.WEEK">
          <div class="set-date">
            <button type="button" class="btn-date-prev" *ngIf="weekType === 'current'" (click)="moveWeekIdx('before')"></button>
            <span class="txt-date" *ngIf="weekRiskInfoList?.length > 0">{{dateToLabel(weekRiskInfoList[0].dt)}} ~ {{dateToLabel(weekRiskInfoList[weekRiskInfoList.length - 1].dt)}}</span>
            <span class="txt-date" *ngIf="!weekRiskInfoList || weekRiskInfoList.length === 0">3월 8일 (월) ~ 3월 14일 (일)</span>
            <button type="button" class="btn-date-next" *ngIf="weekType === 'prev'" (click)="moveWeekIdx('after')"></button>
          </div>

          <div class="weekly-info">
            <!-- [D] 오늘 is-today 클래스 추가 -->
            <div [ngClass]="'column-' + dayClass[idx]" *ngFor="let  day of weekRiskInfoList; let idx = index" [class.is-today]="checkToday(day)">
              <span class="txt-day">{{ getDay(day, idx) }}</span>

              <!-- Common UI : Status -->
              <!--
                                        [D] 상태 정의
                                        양호 : type-a
                                        보통 : type-b
                                        주의 : type-c
                                        위험 : type-d
                                        심각 : type-e
                                    -->
              <div class="common-ui-status"  [ngClass]="'type-' + getRiskLevel(day.contactDensityPercentile, 'class')">
                <div class="status-icon">
                  <span></span>
                </div>
              </div>
              <!-- //Common UI : Status -->
            </div>
          </div>
        </div>
        <!-- //주간 -->
      </div>
      <!-- //언제가 위험할까 -->

      <!-- 얼마나 위험할까 -->
      <div class="how-area">
        <div class="title-block">
          얼마나 위험할까?
        </div>

        <div class="graph-block">
          <!--
            [D] 'txt-status' 상태 정의
            양호 : type-a
            보통 : type-b
            주의 : type-c
            위험 : type-d
            심각 : type-e
          -->
          <div class="legend-top">
            <span class="txt-legend">유동인구 지수</span>
            <strong class="txt-status" [ngClass]="'type-' + getRiskLevel(riskDegreeInfo.flowPercentile, 'class')" *ngIf="riskDegreeInfo">{{ getRiskLevel(riskDegreeInfo.flowPercentile, 'label') }}</strong>
          </div>
          <div class="set-graph">
            <div class="legend-left">
              <span class="txt-legend">지하철 수요</span>
              <strong class="txt-status" [ngClass]="'type-' + getRiskLevel(riskDegreeInfo.subwayPercentile, 'class')" *ngIf="riskDegreeInfo">{{ getRiskLevel(riskDegreeInfo.subwayPercentile, 'label') }}</strong>
            </div>
            <div class="box-graph" id="radarChart"></div>
            <div class="legend-right">
              <span class="txt-legend">택시 수요</span>
              <strong class="txt-status" [ngClass]="'type-' + getRiskLevel(riskDegreeInfo.taxiPercentile, 'class')" *ngIf="riskDegreeInfo">{{ getRiskLevel(riskDegreeInfo.taxiPercentile, 'label') }}</strong>
            </div>
          </div>
          <div class="legend-bottom">
            <span class="txt-legend">유동인구 변동 지수</span>
            <strong class="txt-status" [ngClass]="'type-' + getRiskLevel(this.riskDegreeInfo.flowDensityPercentile, 'class')" *ngIf="riskDegreeInfo">{{getRiskLevel(this.riskDegreeInfo.flowDensityPercentile, 'label')}}</strong>
          </div>
        </div>
      </div>
      <!-- //얼마나 위험할까 -->

    </div>
    <!-- //언제 얼마나 위험할까 -->
  </div>

</div>
<!-- //Page : Detail View -->
