@import "../../Common/common.scss";

.list {
    padding-top: 30px;

    table {
        @include common-table;
        margin-top: 10px;

        th {
            width: calc(100% / 3);
        }

        td {
            width: calc(100% / 3);
            padding: 18px 0 !important;

            > div {
                text-align: center;

                &:first-child {
                    font-size: 16px;
                }
                &:last-child {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}