@import "../../Common/common.scss";

.map {
    margin-top: $horizontal-padding;

    .legend {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        > div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 70px;
            font-size: 12px;
            position: relative;

            > div {
                text-align: right;
            }

            > div:first-child {
                $size: 17px;
                height: $size;
                width: $size;
                margin-right: 5px;
            }

            > div:last-child {
                line-height: 1;
                position: relative;
                bottom: 1px;
            }
        }
    }
}