@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import './components/Common/common.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.freeze {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* { 
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
}

*:not(input) {
  // user-select: none;
}

.btn {
  cursor: pointer;
  
  &:active {
    // opacity: 0.5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.no-show {
  visibility: hidden;                    
}

.content {
  padding: $header-height $horizontal-padding $vertical-padding * 2 $horizontal-padding;
}

.buttons {
  display: flex;
  margin-top: 30px;

  .button {
      width: 50%;

      &:not(:last-of-type) {
          margin-right: 10px;
      }
  }

  &.single {
    .button {
        width: 100%;
    }
  }
}