<!-- Page : Location Edit -->
<div class="page-location">

  <!-- 내 위치 -->
  <div class="section-my" *ngIf="useGeolocation">
    <strong class="txt-location">{{currLocation?.dong}}</strong>
    <span class="txt-address">{{currLocation?.siDo}} {{currLocation?.siGunGu}} {{currLocation?.dong}}</span>
  </div>
  <!-- //내 위치 -->

  <!-- List -->
  <ul cdkDropList class="list-location-edit"
      (cdkDropListDropped)="reorderList($event)">

    <li cdkDrag class="drag-location" [ngClass]="{'is-delete':location.isDelete}" *ngFor="let location of locations">
      <div class="item-location">
        <div class="drag-area">
          <button type="button" class="btn-icon type-drag"></button>
        </div>
        <div class="location-area">
          <strong class="txt-location">{{location?.dong}}</strong>
          <span class="txt-address">{{location?.siDo}} {{location?.siGunGu}} {{location?.dong}}</span>
        </div>
        <div class="button-area">
          <button type="button" class="btn-icon type-delete" (click)="deleteInterest(location)"></button>
        </div>
      </div>
    </li>
  </ul>
  <!-- //List -->

  <div class="section-button">
    <button type="button" class="btn-normal type-icon type-add" (click)="moveAddInterestPage()">관심 장소 추가</button>
  </div>

</div>
<!-- //Page : Location Edit -->
