@charset "utf-8";

/***************************************************************************************
   Setting
***************************************************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body, button, input, select, table, textarea, h1, h2, h3, h4 {
	font-family: AppleSDGothicNeo-Regular, "Helvetica Neue", "Malgun Gothic", "맑은 고딕", sans-serif;
	font-size: 14px;
	color: #666;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
}

ul, ol {
	list-style: none;
}

img, button, fieldset {
	border: 0 none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

em, address {
	font-style: normal;
}

i {
	font-style: normal;
}

a, u {
	text-decoration: none;
}

fieldset, legend {
	border: 0;
}

legend {
	height: 0;
	visibility: hidden;
}

button {
	background: none;
}

button * {
	position: relative;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input::-ms-clear,
input[type=password]::-ms-reveal {
	display: none;
}

input, textarea {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

a, button, input, select, textarea, [contenteditable] {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,152,255,0.1);
}

button, select, input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button:disabled, input:disabled {
	cursor: default;
}

[aria-hidden="true"] {
	display: none;
}
